<?xml version="1.0" encoding="UTF-8"?>
<persistence version="2.0" xmlns="http://java.sun.com/xml/ns/persistence" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/persistence http://java.sun.com/xml/ns/persistence/persistence_2_0.xsd">
  <persistence-unit name="Pi2EE-ejbPU" transaction-type="JTA">
    <jta-data-source>Dados</jta-data-source>
    <class>Model.Auditoria</class>
    <class>Model.Diracesso</class>
    <class>Model.Exprofissional</class>
    <class>Model.Formacao</class>
    <class>Model.Grauescolar</class>
    <class>Model.Grpacesso</class>
    <class>Model.Idiomas</class>
    <class>Model.Rotinas</class>
    <class>Model.Usuarios</class>
    <exclude-unlisted-classes>true</exclude-unlisted-classes>
    <properties>
    </properties>
  </persistence-unit>
</persistence>
